.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    width: 70%;
}
.header__title{
    letter-spacing: 2px;
}
.header__balance{
    font-size: 1rem;
    font-weight: 400;
    padding: 0.7rem 2rem;
    background-color: var(--grey);
    color: var(--light);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .header{
        flex-direction: column;
    }
    .header__title{
        margin-bottom: 2rem;
    }
}